; 请妥善保管您的配置
registry=https://yishitec-npm.pkg.coding.net/ys-ui/ys/
always-auth=true
//yishitec-npm.pkg.coding.net/ys-ui/ys/:username=ys-1567576309976
//yishitec-npm.pkg.coding.net/ys-ui/ys/:_password=M2QzNWFiMjhjNDQ1YzVlZjk4OWY3ZGUwZTE2MDllZGFjNmI4MmJlMA==
//yishitec-npm.pkg.coding.net/ys-ui/ys/:email=wangchaoqi@yishitec.com