.ml { margin-left: 10px; }
.mr { margin-right: 10px; }
.mt { margin-top: 10px; }
.mb { margin-bottom: 10px; }

.w-full { width: 100%; }
.h-full { height: 100%; }

.pull-right {
  float: right;
}

.p {
  padding: 8px;
}
.bb {
  border-bottom: solid 1px #eee;
}
