; 请妥善保管您的配置
@ys:registry=https://yishitec-npm.pkg.coding.net/ys-ui/ys/
//yishitec-npm.pkg.coding.net/ys-ui/ys/:username=ys-1566848744858
//yishitec-npm.pkg.coding.net/ys-ui/ys/:_password=MTBjNjYyYmNkZmQxYmEyMzFjYzkwMzc0YTczOGU2ZTAyYTFhOWQwOQ==